<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), url(<%= asset_path 'bar.jpg' %>);">
  <div class="banner-content">
    <h1>The Martini</h1>
  </div>
</div>
</div>
<div class="container">
  <%= link_to "add a cocktail", new_cocktail_path %>
  <% @cocktails.each do |cocktail| %>
  <div>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= cl_image_tag(cocktail.photo, width: 150, height: 150, crop: :thumb) %>
  </div>
  <% end %>
</div>
