.cards-container {
  margin-top: 40px;
}

.card {
  color: white;
  margin: 20px 10px;
  display: flex;
}

.card-img {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  flex: 0 0 175px;
}

.card-content {
  width: 100px;
  flex-grow: 1;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-content-bottom {
    font-size: 15px;
  }
}

.card-content-header {
  color: white;
  margin: 0px;
  font-size: 25px;
}

.card-content-ingredients {
  margin-top: 10px;
  color: white;
  font-size: 15px;
}

.more-details {
  margin-top: 10px;
  color: white;
  font-size: 15px;
}

.card-review {
  color: white;
  margin: 20px 10px;
  display: flex;
  font-style: italic;

  .stars {
    flex: 0 0 120px;
    margin-right: 20px;
  }
}
